*.o
*.lo
*.la
*.log
*.trs
.libs
bsdtestharness
bsdtestsummarize
dispatch
dispatch_after
dispatch_api
dispatch_apply
dispatch_c99
dispatch_cascade
dispatch_concur
dispatch_context_for_key
dispatch_data
dispatch_debug
dispatch_drift
dispatch_group
dispatch_io
dispatch_io_net
dispatch_overcommit
dispatch_pingpong
dispatch_plusplus
dispatch_priority
dispatch_priority2
dispatch_queue_finalizer
dispatch_read
dispatch_read2
dispatch_readsync
dispatch_select
dispatch_sema
dispatch_starfish
dispatch_suspend_timer
dispatch_timer
dispatch_timer_bit31
dispatch_timer_bit63
dispatch_timer_set_time
dispatch_timer_short
dispatch_timer_timeout
dispatch_vnode
leaks-wrapper

