<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>libdispatch</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Significant Problems (should fix)</string>
				<key>Children</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Non Leaf Retarget</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e020004</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Retarget after Activation</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e020008</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Mutation after Activation</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e02000c</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Source Firing Without a Handler</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e020020</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Performance Problems</string>
				<key>Children</key>
				<array>
					<dict>
						<key>Name</key>
						<string>Delayed Source Registration</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e020010</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Mutable target queue during traversal</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e020014</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Timer with Strict + Background</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e020018</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Suspended timer firing</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e02001c</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>Source registration falling back to QOS_CLASS_DEFAULT</string>
						<key>Type</key>
						<string>Impulse</string>
						<key>KTraceCode</key>
						<string>0x2e020024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
